/* Custom AboutScreen.css */

/* Center the about content vertically */
.about-content {
    margin-top: 100px;
    background-color: rgb(247, 247, 247);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border: solid;
    border-color: #0f55a0;
  }
  
  /* Styling for the header */
  .about-content h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
    color: #007bff;
  }
  
  /* Add some spacing between paragraphs */
  .about-content p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.6;
  }
  
  .box{
    border-color: #007bff;
  }
  
  /* body{
    background-image: url(../Users/admin/Desktop/2672335.jpg);
  } */