/* Custom ContactScreen.css */

/* Center the contact form vertically */
.contact-form {
    margin-top: 100px; /* Adjust the margin-top value to create space below the navbar */
  }
  
  /* Styling for the header */
  .contact-form h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
    color: #007bff;
  }
  
  /* Style the submit button */
  .submit-btn {
    width: 100%;
    margin-top: 20px; /* Add margin to create space after the message field */
  }
  
  /* Add some spacing between form fields */
  .contact-form .form-group {
    margin-bottom: 20px;
  }
  