/* Custom FeedbackScreen.css */

/* Center the feedback form vertically */
.feedback-form {
    /* margin-top: 100px; */
    background-color: rgb(247, 247, 247);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border: solid;
    border-color: #0f55a0;
    /* position: relative; */
    width: 700px;
    margin: 0 auto;
  }
  
  /* Styling for the header */
  .feedback-form h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
    color: #007bff;
  }
  
  /* Style the submit button */
  .submit-btn {
    width: 100%;
    margin-top: 20px;
  }
  
  /* Add some spacing between form fields */
  .feedback-form .form-group {
    margin-bottom: 20px;
  }
  
  .feedback-section {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bg-new-image {
    /* The image used */
    background-image: url(../assets/bg.png);
    margin-top: 20px;
  
    /* Add the blur effect */
    /* filter: blur(8px); */
    /* -webkit-filter: blur(8px); */
  
    /* Full height */
    height: 90vh;
    width: 100%;
    z-index: -1;
    opacity: 0.3;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }